pool:
  vmImage: 'ubuntu-latest'

trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - '*'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '>=12.3.1'
  displayName: 'Install Node.js'

- script: |
    yarn --frozen-lockfile
  displayName: 'Yarn install'

- script: |
    yarn tsc --noEmit
    yarn tslint --project .
  displayName: 'Typecheck and lint'

- script: |
    yarn poi-util-transpile --source-map --replace
  displayName: 'Transpile to JavaScript'

- task: CopyFiles@2
  inputs:
    targetFolder: '$(Build.ArtifactStagingDirectory)'
    Contents: |
     **/*.*
     !.git/**/*
     !node_modules/**/*

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: drop
