:root {
  --color-primary: hsl(210, 50%, 40%);
}

.ship-info-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* this prvents font fallback */
.ship-info-wrap #stat-rect *,
.ship-info-wrap #planner-rect * {
  font-family: FontAwesome, Helvetica, Arial, 'Segoe UI', Segoe, 'Source Han Sans', 'Noto Sans CJK', 'PingFang', 'Hiragino Sans GB', 'WQY michohei', 'Microsoft Yahei UI', 'Microsoft Yahei', sans-serif;
}

.ship-info-wrap h2 {
  font-size: 2rem;
}
.ship-info-wrap #ship-info {
  height: 100%;
}
.ship-info-wrap .ship-info-wrap {
  height: 100%;
  display: flex;
  flex-direction: column
}
.ship-info-wrap #ship-info-show {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ship-info-wrap #ship-info-show > divider {
  flex: 9px;
}
.ship-info-wrap #ship-info-show .table-container {
  padding-left: 8px;
}
.ship-info-wrap .center {
  text-align: center;
}
.ship-info-wrap .form-group {
  margin-bottom: 0px;
}
.ship-info-wrap .vertical-center {
  display: flex;
  align-items: center;
}
.ship-info-wrap .divider {
  padding-left: 15px;
  padding-right: 15px;
}
.ship-info-wrap .divider hr {
  margin-bottom: 15.5px;
}
.ship-info-wrap .ship-info-cell {
  white-space: nowrap;
  line-height: 35px;
  vertical-align: middle;
  overflow: visible;
  text-overflow: ellipsis;
  cursor: default;
}
.ship-info-wrap .ship-info-cell.even-dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.ship-info-wrap .ship-info-cell.even-light {
  background-color: rgba(0, 0, 0, 0.1);
}
.ship-info-wrap .ship-info-cell.clickable {
  cursor: pointer;
}
.ship-info-wrap .ship-info-cell.highlight{
  background-color: var(--color-primary);
}
.ship-info-wrap .ship-info-cell.td-karyoku {
  text-align: center;
}
.ship-info-wrap .ship-info-cell.td-karyoku-max {
  text-align: center;
  background-color: hsl(0, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.td-karyoku-max.highlight{
  background-color: hsl(0, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.td-raisou {
  text-align: center;
}
.ship-info-wrap .ship-info-cell.td-raisou-max {
  text-align: center;
  background-color: hsl(190, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.td-raisou-max.highlight {
  text-align: center;
  background-color: hsl(190, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.td-taiku {
  text-align: center;
}
.ship-info-wrap .ship-info-cell.td-taiku-max {
  text-align: center;
  background-color: hsl(30, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.td-taiku-max.highlight {
  text-align: center;
  background-color: hsl(30, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.td-soukou {
  text-align: center;
}
.ship-info-wrap .ship-info-cell.td-soukou-max {
  text-align: center;
  background-color: hsl(60, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.td-soukou-max.highlight {
  text-align: center;
  background-color: hsl(60, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.td-lucky {
  text-align: center;
}
.ship-info-wrap .ship-info-cell.td-lucky-max {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.33);
}
.ship-info-wrap .ship-info-cell.td-lucky-max.hightlight {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.75);
}
.ship-info-wrap .ship-info-cell.repair-heavy {
  background-color: hsl(0, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.repair-moderate {
  background-color: hsl(30, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.repair-minor {
  background-color: hsl(60, 50%, 40%);
}
.ship-info-wrap .ship-info-cell.repair-heavy.highlight {
  background-color: hsl(0, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.repair-moderate.highlight {
  background-color: hsl(30, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.repair-minor.highlight {
  background-color: hsl(60, 50%, 70%);
}
.ship-info-wrap .ship-info-cell.cond-danger {
  color: hsl(0, 100%, 40%);
  font-weight: bold;
}
.ship-info-wrap .ship-info-cell.cond-danger.highlight {
  color: hsl(0, 100%, 70%);
  font-weight: bold;
}
.ship-info-wrap .ship-info-cell.cond-warning {
  color: hsl(30, 100%, 40%);
  font-weight: bold;
}
.ship-info-wrap .ship-info-cell.cond-warning.highlight {
  color: hsl(30, 100%, 70%);
  font-weight: bold;
}
.ship-info-wrap .ship-info-cell.cond-success {
  color: hsl(60, 100%, 40%);
  font-weight: bold;
}
.ship-info-wrap .ship-info-cell.cond-success.highlight {
  color: hsl(60, 50%, 70%);
  font-weight: bold;
}
.ship-info-wrap clickable {
  filter: none;
  transition: 0.2s;
}

.ship-info-wrap #settings-toolbar .btn-group>.btn {
  height: 36px;
}

.ship-info-wrap #ship-info-settings {
  padding-left: 8px;
  padding-top: 8px;
}

.ship-info-wrap #ship-info-settings .filter-type .checkbox {
  margin-top: 1px;
  margin-bottom: 1px;
}
.ship-info-wrap #ship-info-settings #ship-info-filter .col-xs-2,
.ship-info-wrap #ship-info-settings #ship-info-filter .col-xs-10,
.ship-info-wrap #ship-info-settings #ship-info-filter .col-xs-12 {
  padding-left: 1px;
  padding-right: 1px;
}
.ship-info-wrap #ship-info-settings .form-control {
  height: inherit;
  padding: 6px 15px 7px;
}
.ship-info-wrap #ship-info-show .container {
  margin: 0px;
  padding: 0px;
  width: inherit;
}
.ship-info-wrap #ship-info-show .slotitem-container img {
  height: 30px;
  z-index: 1;
  display: inline-block;
  position: relative;
}

.ship-info-wrap #ship-info-show table tbody tr td {
  vertical-align: middle;
  line-height: 36px;
  height: 38px;
  padding: 0 5px;
}
.ship-info-wrap #ship-info-show .ship-info-table {
  padding: 0px 15px;
}
.ship-info-wrap #ship-info-show .ship-info-table tbody {
  counter-reset: rowNumber;
}
.ship-info-wrap #ship-info-show .ship-info-table table > tbody > tr > td:first-child::before {
  counter-increment: rowNumber;
  content: counter(rowNumber);
  min-width: 1em;
}
.ship-info-wrap ::-webkit-scrollbar {
  width: 10px;
}
.ship-info-wrap ::-webkit-scrollbar-track {
  border-radius: 1px;
}
.ship-info-wrap ::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #3d3d3d;
}

.ship-info-wrap .ship-name {
  align-items: center;
  display: flex;
}

.ship-info-wrap .ship-name .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ship-info-wrap #ship-info-show .ship-info-table .status-label {
  display: inline-block;
  flex: none;
}

.ship-info-wrap .alv-img{
  height: 14px;
  margin-bottom: 2px;
}

.ship-info-wrap img.svg {
  width: 26px;
  height: 23px;
  margin: 0px 4px;
}

.ship-info-wrap .sorting.up {
  background: hsl(0, 50%, 40%)
}

.ship-info-wrap .sorting.down {
  background: hsl(120, 50%, 40%);
}

.ship-info-wrap th {
  height: 4em;
}

.ship-info-wrap .info-tooltip .tooltip-inner{
  max-width: initial;
  width: fit-content;
}

.ship-info-wrap .super-type {
  display: flex;
}

.ship-info-wrap .super-type button {
  flex: 1;
}

.ship-info-wrap .slotitem-onslot {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
  z-index: 2;
}

.ship-info-wrap .slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: inline;
  line-height: initial;
}

.ship-info-wrap .slotitem-container:not(:first-child) {
  margin-left: 0.25ex;
}

.ship-info-wrap .slotitem-background {
  font-size: 30px;
  line-height: 0px;
  position: absolute;
  top: -2px;
  left: 3px;
  z-index: 0;
  color: black;
}

.ship-info-wrap .config-menu {
  display: flex;
  flex-direction: column;
  margin-left: 1ex;
}

.ship-info-wrap .config-menu > div {
  flex: 1;
  display: flex;
  min-width: 50em;
  flex-wrap: wrap;
}

.ship-info-wrap .radio-check {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  height: 3em;
}

.ship-info-wrap .dual-col .radio-check {
  width: 46%;
}

.ship-info-wrap .single-col .radio-check {
  width: 100%;
}

.ship-info-wrap .dual-col .radio-check:nth-child(odd) {
  margin-right: 8%;
}

.ship-info-wrap .filter-option {
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 160%;
  transition: 0.2s;
  border-width: 1px;
  border-style: solid;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.ship-info-wrap .filter-option:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ship-info-wrap .filter-option:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.ship-info-wrap .filter-option:not(:last-child) {
  border-right-width: 0;
}

.ship-info-wrap .filter-option.dark {
  border-color: rgba(255, 255, 255, 0.5);
}

.ship-info-wrap .filter-option.light {
  border-color: rgba(0, 0, 0, 0.5);
}

.ship-info-wrap .filter-option.checked {
  background-color: var(--color-primary);
}

.ship-info-wrap .filter-span {
  font-weight: bold;
  flex: 1;
  padding-left: 1ex;
  padding-right: 2em;
}

.ship-info-wrap .title-row th {
  vertical-align: bottom !important;
}

.ship-info-wrap .reset-panel {
  text-align: center;
  padding-top: 1em;
}

.ship-info-wrap #reset-button {
  font-weight: bold;
}

.ship-info-wrap .fleet-id-indicator {
  height: 14px;
}

.ship-info-wrap .sally-area-label {
  margin-left: 0.5em;
}

.ship-info-wrap .bookmark > a{
  display: flex !important;
  align-items: center;
  height: 3em;
  min-width: 25em;
  outline: none;
}

.ship-info-wrap .bookmark-content {
  flex-grow: 1;
  margin-right: 2em;
}

.ship-info-wrap .bookmark-delete {
  flex-grow: 0;
}

.ship-info-wrap .bookmark-input-list > a:hover,
.ship-info-wrap .bookmark-input-list > a:focus {
  background-color: transparent !important;
}

.ship-info-wrap .query-label {
  font-size: 100%;
}

.ship-info-wrap .dropdown-menu {
  overflow-y: scroll;
  user-select: none;
  cursor: default;
}

@media (max-height: 450px) {
  .ship-info-wrap .dropdown-menu {
    max-height: 25em;
  }
}

.ship-info-wrap .dropdown-menu::-webkit-scrollbar {
  width: 1em;
}

.ship-info-wrap .ReactVirtualized__Grid:focus {
  border: 0px;
}

.ship-info-wrap .type-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1em 1em 0 1em;
}

.ship-info-wrap .type-menu >div {
  display: inline-flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.ship-info-wrap .super-type {
  margin-bottom: 1em;
  width: 48em;
}

.ship-info-wrap .type-menu .supertype,
.ship-info-wrap .type-menu .shiptype {
  display: block;
  height: 2em;
  display: flex;
  padding-left: 1em;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ship-info-wrap .type-menu .supertype {
  flex-grow: 1;
}

.ship-info-wrap .type-menu .shiptype {
  min-width: 8em;
}

.ship-info-wrap .type-menu .supertype.checked,
.ship-info-wrap .type-menu .shiptype.checked {
  background-color: var(--color-primary);
}

.ship-info-wrap .type-menu .supertype.partial,
.ship-info-wrap .type-menu .shiptype.partial {
  background-color: rgba(205,220,57,0.5);
}

.ship-info-wrap .filter-menu {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

.ship-info-wrap .area {
  margin: 1em 0;
}

.ship-info-wrap .area .header {
  display: flex;
  align-items: center;
}

.ship-info-wrap .area .header .area-name {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.ship-info-wrap .area .planned .pool {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 6em;
  padding-top: .5em;
}

.ship-info-wrap .area .planned .lane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.ship-info-wrap .area .planned .lane:not(:first-child) {
  margin-top: 1em;
}

.ship-info-wrap .ship-chip {
  margin: .25em .5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
  flex: 0;
  height: 2em;
  display: flex;
  align-items: center;
}

.ship-info-wrap .ship-chip .ship-type {
  margin-right: 1ex;
  line-height: 14px;
}

.ship-info-wrap .ship-chip .ship-name {
  line-height: 16px;
  font-size: 14px;
}

.ship-info-wrap .ship-chip .ship-level {
  font-size: 80%;
  margin-left: 1ex;
}

.ship-info-wrap .ship-chip .displace .fa,
.ship-info-wrap .ship-chip .remove .fa{
  padding-left: .5em;
  padding-right: 0;
  font-size: 120%;
}

.ship-info-wrap .dropdown-menu.add-ship-menu {
  right: 0;
  left: initial;
  max-height: 15em;
}

.ship-info-wrap .ship-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ship-info-wrap .ship-grid-cell {
  width: calc(100% / 7 - 4px);
  min-width: 6em;
  max-width: 16em;
  display: flex;
  padding-left: .5ex;
  padding-right: .5ex;
  line-height: 250%;
  transition: 0.2s;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.ship-info-wrap .ship-grid-cell:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ship-info-wrap .ship-grid-cell .ship-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  display: block;
}

.ship-info-wrap .ship-grid-cell .ship-level {
  color: rgba(255, 255, 255, 0.5)
}

.ship-info-wrap .ship-grid-container {
  width: calc(100% / 7 - 4px);
  margin: 2px;
}

.ship-info-wrap .ship-grid-container .ship-grid-cell {
  width: 100%
}

.ship-info-wrap .ship-grid-container .ship-grid-header {
  background: none;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 120%;
}

.ship-info-wrap .name-cube {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: 50px;
  margin: 2px;
}

.ship-info-wrap .name-cube .letter-cube {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 1440px) {
  .ship-info-wrap .ship-grid-cell {
    width: calc(100% / 10 - 4px);
  }
  .ship-info-wrap .ship-grid-container {
    width: calc(100% / 15 - 4px);
  }
}
