*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  outline: none;
}
html {
  height: 100%;
}
h2 {
  font-size: 2rem;
}
body {
  font-size: 14px;
  height: 100%;
  zoom: 1 !important;
  overflow-y: hidden;
}
#ship-info {
  height: 100%;
}
.ship-info-wrap {
  height: 100%;
  display: flex;
  flex-direction: column
}
#ship-info-show {
  flex-grow: 1;
}
/*#ship-info-show ::-webkit-scrollbar{
  width: 0;
  height: 1em;
}*/
.center {
  text-align: center;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}
.ship-info-cell {
  white-space: nowrap;
  line-height: 40px;
  vertical-align: middle;
  overflow: visible;
  text-overflow: ellipsis;
  cursor: default;
}
.ship-info-cell.even-dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.ship-info-cell.even-light {
  background-color: rgba(0, 0, 0, 0.1);
}
.ship-info-cell.clickable {
  cursor: pointer;
}
.ship-info-cell.highlight{
  background-color: rgba(105, 240, 174, 0.5);
}
.ship-info-cell.td-karyoku {
  text-align: center;
}
.ship-info-cell.td-karyoku-max {
  text-align: center;
  background-color: rgba(245, 93, 93, 0.33);
}
.ship-info-cell.td-karyoku-max.highlight{
  background-color: rgba(245, 93, 93, 0.75);
}
.ship-info-cell.td-raisou {
  text-align: center;
}
.ship-info-cell.td-raisou-max {
  text-align: center;
  background-color: rgba(162, 194, 230, 0.33);
}
.ship-info-cell.td-raisou-max.highlight {
  text-align: center;
  background-color: rgba(162, 194, 230, 0.75);
}
.ship-info-cell.td-taiku {
  text-align: center;
}
.ship-info-cell.td-taiku-max {
  text-align: center;
  background-color: rgba(255, 176, 77, 0.33);
}
.ship-info-cell.td-taiku-max.highlight {
  text-align: center;
  background-color: rgba(255, 176, 77, 0.75);
}
.ship-info-cell.td-soukou {
  text-align: center;
}
.ship-info-cell.td-soukou-max {
  text-align: center;
  background-color: rgba(255, 219, 79, 0.33);
}
.ship-info-cell.td-soukou-max.highlight {
  text-align: center;
  background-color: rgba(255, 219, 79, 0.75);
}
.ship-info-cell.td-lucky {
  text-align: center;
}
.ship-info-cell.td-lucky-max {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.33);
}
.ship-info-cell.td-lucky-max.hightlight {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.75);
}
.ship-info-cell.repair-heavy {
  background-color: rgba(255, 0, 0, 0.4);
}
.ship-info-cell.repair-moderate {
  background-color: rgba(255, 65, 0, 0.4);
}
.ship-info-cell.repair-minor {
  background-color: rgba(255, 255, 0, 0.4);
}
.ship-info-cell.repair-heavy.highlight {
  background-color: rgba(255, 0, 0, 0.75);
}
.ship-info-cell.repair-moderate.highlight {
  background-color: rgba(255, 65, 0, 0.75);
}
.ship-info-cell.repair-minor.highlight {
  background-color: rgba(255, 255, 0, 0.75);
}
.ship-info-cell.cond-danger {
  background-color: rgba(255, 0, 0, 0.4);
}
.ship-info-cell.cond-danger.highlight {
  background-color: rgba(255, 0, 0, 0.7);
}
.ship-info-cell.cond-warning {
  background-color: rgba(255, 165, 0, 0.4);
}
.ship-info-cell.cond-warning.highlight {
  background-color: rgba(255, 165, 0, 0.7);
}
.ship-info-cell.cond-success {
  background-color: rgba(255, 255, 0, 0.4);
}
.ship-info-cell.cond-success.highlight {
  background-color: rgba(255, 255, 0, 0.7);
}
clickable {
  filter: none;
  transition: 0.2s;
}

#ship-info-settings {
  padding-left: 8px;
  padding-top: 1ex;
}

#ship-info-settings .filter-type .checkbox {
  margin-top: 1px;
  margin-bottom: 1px;
}
#ship-info-settings #ship-info-filter .col-xs-2,
#ship-info-settings #ship-info-filter .col-xs-10,
#ship-info-settings #ship-info-filter .col-xs-12 {
  padding-left: 1px;
  padding-right: 1px;
}
#ship-info-settings .form-control {
  height: inherit;
  padding: 6px 15px 7px;
}
#ship-info-show .container {
  margin: 0px;
  padding: 0px;
  width: inherit;
}
#ship-info-show .slotitem-container img {
  height: 30px;
}

#ship-info-show table tbody tr td {
  vertical-align: middle;
  line-height: 36px;
  height: 38px;
  padding: 0 5px;
}
#ship-info-show .ship-info-table {
  padding: 0px 15px;
}
#ship-info-show .ship-info-table tbody {
  counter-reset: rowNumber;
}
#ship-info-show .ship-info-table table > tbody > tr > td:first-child::before {
  counter-increment: rowNumber;
  content: counter(rowNumber);
  min-width: 1em;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #3d3d3d;
}

.ship-name {
  align-items: center;
  display: flex;
}

.ship-name .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ship-info-show .ship-info-table .status-label {
  display: inline-block;
  flex: none;
}

.alv-img{
  height: 14px;
  margin-bottom: 2px;
}

img.svg {
  width: 26px;
  height: 23px;
  margin: 0px 4px;
}

.sorting.up {
  background: linear-gradient(to top, rgba(255, 82, 82, 0.5), rgba(0, 0, 0, 0));
}

.sorting.down {
  background: linear-gradient(to top, rgba(105, 240, 174, 0.5), rgba(0, 0, 0, 0));
}

th {
  height: 4em;
}

.info-tooltip .tooltip-inner{
  max-width: initial;
  width: fit-content;
}

.super-type {
  display: flex;
}

.super-type button {
  flex: 1;
}

.slotitem-onslot {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}

.slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: inline;
  line-height: initial;
}

.slotitem-container:not(:first-child) {
  margin-left: 0.25ex;
}

.config-menu {
  display: flex;
  flex-direction: column;
  margin-left: 1ex;
}

.config-menu > div {
  flex: 1;
  display: flex;
  min-width: 50em;
  flex-wrap: wrap;
}

.radio-check {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  height: 3em;
}

.dual-col .radio-check {
  width: 46%;
}

.single-col .radio-check {
  width: 100%;
}

.dual-col .radio-check:nth-child(odd) {
  margin-right: 8%;
}

.filter-option {
  flex: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 160%;
  transition: 0.2s;
}

.filter-option.dark {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.filter-option.light {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.filter-option.checked {
  background-color: rgba(105, 240, 174, 0.5);
}

.filter-span {
  font-weight: bold;
  flex: 1;
  padding-left: 1ex;
  padding-right: 2em;
}

.title-row th {
  vertical-align: bottom !important;
}

.reset-panel {
  text-align: center;
  padding-top: 1em;
}

#reset-button {
  font-weight: bold;
}

.fleet-id-indicator {
  height: 14px;
}

.sally-area-label {
  margin-left: 0.5em;
}

.bookmark > a{
  display: flex !important;
  align-items: center;
  height: 3em;
  min-width: 25em;
  outline: none;
}

.bookmark-content {
  flex-grow: 1;
  margin-right: 2em;
}

.bookmark-delete {
  flex-grow: 0;
}

.bookmark-input-list > a:hover,
.bookmark-input-list > a:focus {
  background-color: transparent !important;
}

.query-label {
  font-size: 100%;
}

.dropdown-menu {
  overflow-y: scroll;
  user-select: none;
  cursor: default;
}

@media (max-height: 450px) {
  .dropdown-menu {
    max-height: 25em;
  }
}

.dropdown-menu::-webkit-scrollbar {
  width: 1em;
}

.ReactVirtualized__Grid:focus {
  border: 0px;
}

.type-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1em 1em 0 1em;
}

.type-menu >div {
  display: inline-flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.super-type {
  margin-bottom: 1em;
  width: 48em;
}

.type-menu .supertype,
.type-menu .shiptype {
  display: block;
  height: 2em;
  display: flex;
  padding-left: 1em;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.type-menu .supertype {
  flex-grow: 1;
}

.type-menu .shiptype {
  min-width: 8em;
}

.type-menu .supertype.checked,
.type-menu .shiptype.checked {
  background-color: rgba(105, 240, 174, 0.5);
}

.type-menu .supertype.partial,
.type-menu .shiptype.partial {
  background-color: rgba(205,220,57,0.5);
}

.filter-menu {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}

.area {
  margin: 1em 0;
}

.area .header {
  display: flex;
  align-items: center;
}

.area .header .area-name {
  flex: 1;
  text-align: left;
}

.area .planned .pool {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  min-height: 6em;
  padding-top: .5em;
}

.area .planned .lane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.area .planned .lane:not(:first-child) {
  margin-top: 1em;
}

.ship-chip {
  margin: .25em .5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2em;
  flex: 0;
  height: 2em;
  display: flex;
  align-items: center;
}

.ship-chip .ship-type {
  margin-right: 1ex;
}

.ship-chip .ship-name {
  line-height: initial;
}

.ship-chip .displace .fa,
.ship-chip .remove .fa{
  padding-left: .5em;
  padding-right: 0;
  font-size: 120%;
}

.dropdown-menu.add-ship-menu {
  right: 0;
  left: initial;
  max-height: 15em;
}

.ship-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ship-grid-cell {
  width: 8em;
  display: flex;
  padding-left: .5ex;
  padding-right: .5ex;
  line-height: 250%;
  transition: 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.ship-grid-cell .ship-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  display: block;
}

.ship-grid-cell .ship-level {

}
