*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  outline: none;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  height: 100%;
  zoom: 1 !important;
}
#ship-info {
  height: 100%;
}
.ship-info-wrap {
  height: 100%;
  display: flex;
  flex-direction: column
}
#ship-info-show {
  flex-grow: 1;
}
#ship-info-show ::-webkit-scrollbar{
  width: 0;
  height: 1em;
}
.center {
  text-align: center;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}
.ship-info-cell {
  white-space: nowrap;
  line-height: 40px;
  vertical-align: middle;
  overflow: visible;
  text-overflow: ellipsis;
}
.ship-info-cell.highlight{
  cursor: default;
  background-color: rgba(0, 150, 136, 0.75);
}
.td-karyoku {
  text-align: center;
}
.td-karyoku-max {
  text-align: center;
  background-color: rgba(245, 93, 93, 0.33);
}
.td-karyoku-max.highlight{
  background-color: rgba(245, 93, 93, 0.75);
}
.td-raisou {
  text-align: center;
}
.td-raisou-max {
  text-align: center;
  background-color: rgba(162, 194, 230, 0.33);
}
.td-raisou-max.highlight {
  text-align: center;
  background-color: rgba(162, 194, 230, 0.75);
}
.td-taiku {
  text-align: center;
}
.td-taiku-max {
  text-align: center;
  background-color: rgba(255, 176, 77, 0.33);
}
.td-taiku-max.highlight {
  text-align: center;
  background-color: rgba(255, 176, 77, 0.75);
}
.td-soukou {
  text-align: center;
}
.td-soukou-max {
  text-align: center;
  background-color: rgba(255, 219, 79, 0.33);
}
.td-soukou-max.highlight {
  text-align: center;
  background-color: rgba(255, 219, 79, 0.75);
}
.td-lucky {
  text-align: center;
}
.td-lucky-max {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.33);
}
.td-lucky-max.hightlight {
  text-align: center;
  background-color: rgba(125, 239, 94, 0.75);
}
.repair-heavy {
  background-color: rgba(255, 0, 0, 0.4);
}
.repair-moderate {
  background-color: rgba(255, 65, 0, 0.4);
}
.repair-minor {
  background-color: rgba(255, 255, 0, 0.4);
}
.repair-heavy.highlight {
  background-color: rgba(255, 0, 0, 0.75);
}
.repair-moderate.highlight {
  background-color: rgba(255, 65, 0, 0.75);
}
.repair-minor.highlight {
  background-color: rgba(255, 255, 0, 0.75);
}
.cond-danger {
  background-color: rgba(255, 0, 0, 0.4);
}
.cond-danger.highlight {
  background-color: rgba(255, 0, 0, 0.7);
}
.cond-warning {
  background-color: rgba(255, 165, 0, 0.4);
}
.cond-warning.highlight {
  background-color: rgba(255, 165, 0, 0.7);
}
.cond-success {
  background-color: rgba(255, 255, 0, 0.4);
}
.cond-success.highlight {
  background-color: rgba(255, 255, 0, 0.7);
}
clickable {
  filter: none;
  transition: 0.2s;
}
#ship-info-settings .filter-type .checkbox {
  margin-top: 1px;
  margin-bottom: 1px;
}
#ship-info-settings #ship-info-filter .col-xs-2,
#ship-info-settings #ship-info-filter .col-xs-10,
#ship-info-settings #ship-info-filter .col-xs-12 {
  padding-left: 1px;
  padding-right: 1px;
}
#ship-info-settings .form-control {
  height: inherit;
  padding: 6px 15px 7px;
}
#ship-info-show .container {
  margin: 0px;
  padding: 0px;
  width: inherit;
}
#ship-info-show .slotitem-container img {
  height: 30px;
}

#ship-info-show table tbody tr td {
  vertical-align: middle;
  line-height: 36px;
  height: 38px;
  padding: 0 5px;
}
#ship-info-show .ship-info-table {
  padding: 0px 15px;
}
#ship-info-show .ship-info-table tbody {
  counter-reset: rowNumber;
}
#ship-info-show .ship-info-table table > tbody > tr > td:first-child::before {
  counter-increment: rowNumber;
  content: counter(rowNumber);
  min-width: 1em;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #3d3d3d;
}

#ship-info-show .ship-info-table .ship-name {
  justify-content: space-between;
  align-items: center;
}

#ship-info-show .ship-info-table .status-label {
  display: inline-block;
  flex: none;
}

.alv-img{
  height: 14px;
  margin-bottom: 2px;
}

img.svg {
  width: 26px;
  height: 23px;
  margin: 0px 4px;
}

.sorting.up {
  background: linear-gradient(to top, rgba(255, 82, 82, 0.5), rgba(0, 0, 0, 0));
}

.sorting.down {
  background: linear-gradient(to top, rgba(105, 240, 174, 0.5), rgba(0, 0, 0, 0));
}

th {
  height: 4em;
}

.info-tooltip .tooltip-inner{
  max-width: initial;
  width: fit-content;
}

.super-type {
  display: flex;
}

.super-type button {
  flex: 1;
}

.slotitem-onslot {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  bottom: 0;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}

.slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: inline;
  line-height: initial;
}

.slotitem-container:not(:first-child) {
  margin-left: 0.25ex;
}

.config-menu {
  display: flex;
  flex-wrap: wrap;
}

.config-menu > div {
  min-width: 16em;
  flex: 1;
}

.radio-check {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  height: 3em;
}

.filter-option {
  flex: 0;
  padding-left: 1ex;
  padding-right: 1ex;
  line-height: 160%;
}

.filter-option.checked {
  background-color: rgba(105, 240, 174, 0.5);
}

.filter-span {
  font-weight: bold;
  flex: 1;
  padding-left: 1ex;
  padding-right: 2em;
}

.title-row th {
  vertical-align: bottom !important;
}

.reset-panel {
  text-align: center;
  padding-top: 1em;
}

#reset-button {
  font-weight: bold;
}

.fleet-id-indicator {
  font-weight: bolder;
  color: white;
  font-family: serif;
  margin-left: 0.5em;
  text-shadow:
    -1px -1px 0 lightseagreen,
    1px -1px 0 lightseagreen,
    -1px 1px 0 lightseagreen,
    1px 1px 0 lightseagreen;
  -webkit-font-smoothing: antialiased;
}

.sally-area-label {
  margin-left: 0.5em;
}

.bookmark > a{
  display: flex !important;
  align-items: center;
  height: 3em;
  min-width: 25em;
}

.bookmark-content {
  flex-grow: 1;
  margin-right: 2em;
}

.bookmark-delete {
  flex-grow: 0;
}

#bookmark-input {
  font-size: 120%;
}

.bookmark-input-list > a:hover,
.bookmark-input-list > a:focus {
  background-color: transparent !important;
}

.query-label {
  font-size: 100%;
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 35em;
}

.dropdown-menu::-webkit-scrollbar {
  width: 1em;
}

.ReactVirtualized__Grid:focus {
  border: 0px;
}

.type-menu {
  display: flex;
  flex-direction: row;
  height: 20.5em;
  overflow: hidden;
}

.type-menu >div {
  display: inline-flex;
  writing-mode: vertical-lr;
  align-content: flex-start;
  flex-wrap: wrap;
}

.type-menu .supertype,
.type-menu .shiptype {
  display: block;
  writing-mode: horizontal-tb;
  min-width: 8em;
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.type-menu .supertype.checked,
.type-menu .shiptype.checked {
  background-color: rgba(105, 240, 174, 0.5);
}

.type-menu .supertype.partial,
.type-menu .shiptype.partial {
  background-color: rgba(205,220,57,0.5);
}

.type-menu a {
}

.super-type {
  margin-right: 2em;
}
